* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background: url("../../public/background.jpg") fixed;
    -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
}


@import "./input";
@import "./footer";