.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 445px;
    margin: 10px;
    transition: height 1s ease;

    &.expand {
        height: 645px;
    }
  }
  