.plot-container {
  background-color: #333;
  color: white;
  border-radius: 10px;
  padding: 35px;
  width: calc(50% - 20px);
  margin: 0px 10px 20px 10px;
  overflow: auto;
}

.plot-wrapper {
  width: 900px;
  min-height: 650px;
  margin: 0px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: clip;
}

